<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ankieta Wyborcza</title>
</head>
<body>
    <h1>Ankieta Wyborcza</h1>
    <form method="post">
        <fieldset>
            <legend>Na kogo głosowałaś/głosowałeś w I turze wyborów burmistrza Złotoryi?</legend>
            <label><input type="radio" name="first_vote" value="Paweł Kulig" required> Paweł Kulig</label><br>
            <label><input type="radio" name="first_vote" value="Paweł Maciejewski"> Paweł Maciejewski</label><br>
            <label><input type="radio" name="first_vote" value="Waldemar Wilczyński"> Waldemar Wilczyński</label><br>
            <label><input type="radio" name="first_vote" value="Barbara Zwierzyńska-Doskocz"> Barbara Zwierzyńska-Doskocz</label><br>
            <label><input type="radio" name="first_vote" value="nie głosowałem"> nie głosowałem/nie głosowałam</label><br>
        </fieldset>
        
        <fieldset>
            <legend>Na kogo zagłosujesz w II turze wyborów burmistrza Złotoryi?</legend>
            <label><input type="radio" name="second_vote" value="na pewno Paweł Kulig" required> na pewno Paweł Kulig</label><br>
            <label><input type="radio" name="second_vote" value="na pewno Paweł Maciejewski"> na pewno Paweł Maciejewski</label><br>
            <label><input type="radio" name="second_vote" value="waham się ale raczej Paweł Kulig"> waham się ale raczej Paweł Kulig</label><br>
            <label><input type="radio" name="second_vote" value="waham się ale raczej Paweł Maciejewski"> waham się ale raczej Paweł Maciejewski</label><br>
            <label><input type="radio" name="second_vote" value="jeszcze nie wiem"> jeszcze nie wiem</label><br>
            <label><input type="radio" name="second_vote" value="nie pójdę/oddam nieważny głos"> nie pójdę/oddam nieważny głos</label><br>
        </fieldset>
        
        <button type="submit">Głosuj</button>
    </form>
</body>
</html>
